<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gigs</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
</head>

<body>
    <main class="container">
        <h1>Gigs in Belfast</h1>

        <% const options={ weekday: 'long' , month:'long', day: '2-digit' }; 
        
        
        gigdata.forEach( (gig)=> {
            let perform = gig.performs_on.toLocaleString('en-GB', options);

            %>
            <article>

                <div class="grid">
                    <div>
                        <h5>
                            <%= `${gig.name} ${perform} `%>
                        </h5>
                        <%= gig.venue %>
                    </div>
                    <div>
                        <a style="float:right;" href="/gig?eventid=<%=gig.id %>" role="button" data-tooltip="find tickets"
                            class="contrast outline">
                            more
                        </a>
                    </div>
                </div>

            </article>

            <% }); %>


    </main>

</body>

</html>